.header {
    display: flex;                  
    flex-direction: row;            
    flex-wrap: nowrap;              
    justify-content: space-between; 

    margin: auto;
    width: 50%;
    padding: 10px;
    font-size: large;
}

.link:visited {
    color: black;
}

.link:link {
    text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}